$body-color:black;
$button-bg-color:#777666;
$button-text-color:#777666;
$bg-image:url('../square_bg//square_bg.png');
$font-stack:'Open Sans', sans-serif;
$primary-color:white;
$headerFont:'Baloo Tammudu 2', cursive;
$headerColor:crimson;
$gameStatusSize:32px;